li{
    display: inline;
    text-decoration: none;
    margin-right: 3em;
}
li a{
    text-decoration: none;
    color: black;
}
ul{
    margin-left: 60%;
}
li a:hover{
    text-decoration: underline 4px orange;
}
.introText span{
    color: orange;
}
.introText{
    margin-top: 8em;
    margin-bottom: 3em;
    margin-left: 6em;
    font-size: x-large;
}
.intro2{
    display: flex;
    justify-content: space-evenly;
}
.details{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 2px 2px 4px rgb(116, 113, 113);
    border-radius: 20px;
}
.details span{
    color: orange;
    font-size: x-large;
}
.About{
    background-color: orange;
    padding-bottom: 2em;
}
.About h2{
    margin-left: 45%;
    padding-top: 2em;
    margin-bottom: 2em;
}
.About h2 span{
    color: rgb(250, 246, 246);
}
.About h3{
    margin-left: 2em;
}
.About p{
    margin-left: 5em;
    color: rgb(250, 245, 245);
}
.projects{
    margin-top: 4em;
}
.projects h2{
    margin-left: 45%;
    font-size: xx-large;
    margin-bottom: 2em;
}
.projects span{
    color: orange;
}
.myProject img{
    width: 45%;
}
.myProject{
    display: flex;
    justify-content: space-between;
}
.myProject h3{
    margin-top: 3em;
    margin-left: 3em;
}
.myProject p{
    font-weight: 900;
}
.myProject a{
    text-decoration: none;
    color: black;
}
.myProject a:hover{
    color: orange;
}
.project2Desc{
    margin-left: 5em;
}
.online img{
    height: 50px;
}
.online{
    display: flex;
    flex-direction: column;
    box-shadow: 0.5em 0.5em 1em rgb(219, 188, 129);
    border-radius: 18px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3em;
    margin-bottom: 2em;
}
.online a:hover{
    box-shadow: 00 00 1em orange;
}
.offline h3{
    font-size: x-large;
}
.offline p{
    margin-left: 2em;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
@media screen and (max-width:1125px) {
    ul{
        margin-left: 35%;
    }
}  
@media screen and (max-width:843px) {
    ul{
        margin-left: 0%;
    }
    
}
@media screen and (max-width:945px) {

    .myProject{
        display: inline;
    }
    .myProject img{
        width: 100%;
    }
    .project2Desc{
        margin-left: 0em;
    }
    .contacts{
        margin-left: 0%;
        margin-right: 0%;
    }
}
 
@media screen and (max-width:794px) {
    .intro2{
        display: inline;
    }
    .intro2 img{
        margin-left: 2em;
    }
    .details{
        margin-right: 5%;
        margin-left: 5%;
    }
}